DEEPSEEK_API_KEY=your_deepseek_api_key
DASHSCOPE_API_KEY=your_dashscope_api_key
DASHSCOPE_IMAGE_MODEL=wanx2.0-t2i-turbo
DASHSCOPE_IMAGE_SIZE=1024*1024
DASHSCOPE_POLL_INTERVAL=10
DASHSCOPE_MAX_POLLS=12
